body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

@media (min-width: 768px) {
    #header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}

@media (max-width: 767px) { 
    #header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 5px;
        padding-top: 30px;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}

#footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#weatherinfo {
    position: fixed;
    top: 0;
    right: 0;
}

#weathericon {
    position: relative;
    top: -8px;
}

#weathertext {
    position: relative;
    top: -24px;
    padding-right: 16px;
    text-align: right;
}

#weatherimage {
}

/* Modal styles */
#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalContent {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 10px; /* Rounded corners */
}

.modalHidden {
    display: none;
}

/* Close button */
#close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close-modal:hover,
#close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.icon-link {
    margin: 0 8px;
    transition: transform 0.3s ease;
}

.icon-link:hover {
    transform: scale(1.25);
}

.draggable {
    cursor: grab;
}

.clickable {
    cursor: pointer;
}

li {
    list-style: none;
}

.draggable_li {
    list-style: none;
    padding: 5px;
    margin: 5px;
    border: 3px dashed #dfdfdf;
    border-radius: 10px;
    background: #f5f5f5;
    align-items: center;
    text-align: center;
    width: 10%; /* Adjust as needed */
    display: flex;
    flex-direction: column;
}

#iconcol {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#iconcol img {
    margin: auto; /* Center the image horizontally */
    flex: 1; /* Allow the image to grow to fill the container */
}

.slist li.hint {
    border: 3px dashed #ffc49a;
    background: #feffb4;
}
.slist li.active {
    border: 3px solid #ffa5a5;
    background: #ffe7e7;
}

#sortlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

#btncol {
    flex: 1;
    margin: 0px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

#modalhead1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#modalhead1 ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#modalhead1 ul li {
    width: 48%;
    margin: 1%;
    align-items: center;
    text-align: center;
}


.fixedlist {
    border: 3px solid #dfdfdf;
    border-radius: 10px;
    background: #f5f5f5;
    align-items: center;
    text-align: center;
}

#newitembtn {
    list-style: none;
    padding: 5px;
    margin: 5px;
    align-items: center;
    text-align: center;
    width: 10%;
    display: flex;
    flex-direction: column;
}

#delitem, #resettodefault {
    width: 20%;
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 16px;
    align-items: center;
    text-align: center;
    border: 3px solid #cc0000;
    border-radius: 10px;
    background-color: #ff0000;
    display: inline-block;
    font-size: 16px;
}

#saveitem, #savechanges {
    width: 20%;
    margin-top: 16px;
    align-items: center;
    text-align: center;
    border: 3px solid #4ce600;
    border-radius: 10px;
    background-color: #99ff66;
    display: inline-block;
    font-size: 16px;
}

#resettodefault, #savechanges {
    font-size: 18px;
    padding-left: 16px;
    padding-right: 16px;
}

.item-mod {
    display: flex;
    align-items: flex-start;
}
.item-mod img {
    width: 100px; /* Adjust size as needed */
    height: auto;
    margin-right: 10px; /* Adjust spacing as needed */
}

.item-mod input[type="text"] {
    width: 75%; /* Adjust size as needed */
    margin-bottom: 10px;
    margin-right: 10px; /* Adjust spacing as needed */
    display: block;
}

#editicondiv {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#edititemdiv {
    padding-top: 48px;
    width: 100%;
}

.hidden-file-input {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-button {
    display: inline-block;
    padding: 6px 10px;
    margin-top: 16px;
    font-size: 14px;
    line-height: normal;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}

.upload-button:hover {
    background-color: #f0f0f0;
}

#editwallpaper, #modalfoot4 {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

#chngweather {
    width: 20%;
    margin-top: 16px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center;
    border: 3px solid #4ce600;
    border-radius: 10px;
    background-color: #99ff66;
    font-size: 16px;
}

#currweatherdiv {
    display: flex;
}

#new_weather_input {
    margin-right: 16px;
}